<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- my css -->
    <link rel="stylesheet" href="#" />
    <title> Art Store </title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<br>
		<div class="jumbotron">
			<h2> Welcome To the Art Store. </h2>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3 class="text-center"> About us </h3>
				<p> We at the art store cordially invite you to view our illustrious art, our goal and inspiration is to allow rising artists to reach out to
				the public with their talent, every artist registered with us is fulfilling their desire to become more prominent artists, many of them
				produce new art, depending on the print, you can ask the artists to create you the print on a canvas or purchase already made print. You will find 
				many different artists with many different skill-sets, if your into landscapes, abstract or portraits and many more, we have it covered. at the moment
				we have registered a number of artists that provide their art for this website. if you're interested in selling art then follow this link to <a href="#future"> the future </a> </p>
			</div>
			<div class="col-12">
				<h3 class="text-center"> Meet some of our artists </h3>
				<div class="row">
					<div class="col-sm-4">
						<div class="card">
							<img srt="#" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title"> Jorge Lopez </h4>
								<p class="card-text"> Jorge is one of our longest registered artist, his speciality is modern abstract art. </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img srt="#" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title"> Sal Mir </h4>
								<p class="card-text"> Sal originally came from product design, his art is based on realism. </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img srt="#" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title"> Emily Knight </h4>
								<p class="card-text"> Emily is a recently registered artist, her speciality is portraits and abstract art. </p>
							</div>
						</div>
					</div>
				</div> <br>
				<div class="row">
					<div class="col-sm-4">
						<div class="card">
							<img srt="#" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title"> Harriet Lunderbérg </h4>
								<p class="card-text"> Harriet is known in the world for her landscapes </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img srt="#" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title"> Linda Davidson  </h4>
								<p class="card-text"> Linda has a spot for photorealism, her art is inspired from the 60's and 70's. </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card">
							<img srt="#" class="card-img-top" alt="...">
							<div class="card-body">
								<h4 class="card-title"> Banksy </h4>
								<p class="card-text"> We don't know how we registered banksy but he has the most popular pieces of art.  </p>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-sm-12">
				<h3 class="text-center"> Featured art </h3>
				
				<!-- images go here -->
				<p class="text-center"> <a th:href="@{/products}"> See more art? </a> </p>
			</div>
			<div class="col-sm-12">
				<h3>  </h3>
			</div>
			
			<div class="col-sm-12">
				<br>
				<h3 id="future" class="text-center"> In the future </h3>
				<p> <strong> For the artists </strong> - we will allow you to register with us so that you can sell your art, see <a href="#terms"> terms and conditions </a>
				below, we have a page dedicated on how the upcoming system will work, how to sell, receiving orders and payments, don't worry we will do all the P&P and the cumbersome tasks. </p>
			</div>
			<div class="col-sm-12">
				<h3 class="text-center"> Contact us </h3>
				<div class="row">
					<div class="col-sm-6">
						<h4 class="text-center"> Send us a message? </h4>
						<form>
							<p> Your message... <textarea class="form-control" placeholder="Hi..." rows="10"></textarea> </p>
							<button type="submit" class="btn btn-primary"> Submit </button>
						</form>
					</div>
					<div class="col-sm-6">
						<!-- google map -->
					</div>
				</div>
			</div>
		</div>
		<div id="terms"> terms </div>
	</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

